.App {
  text-align: center;
}

@font-face {
  font-family: 'NeoFont'; /*a name to be used later*/
  src: url('/fonts/benggcbi.ttf'); /*URL to font*/
}
.Title {
  font-family: 'NeoFont';
  font-size: calc(10px + 2vmin);
  padding: 20px;
  border-radius: 25px;
  border: 1px solid black;
  background-color:white;

}

.Title:hover {
  background-color: blue;
  color: white;
  border: 0px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

code {
  font-family: 'NeoFont';
}
